USE [master]
GO
/****** Object:  Database [Proiect]    Script Date: 11.05.2022 22:33:02 ******/
CREATE DATABASE [Proiect]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proiect', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Proiect.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proiect_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Proiect_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proiect].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proiect]
GO
/****** Object:  Table [dbo].[ADMINISTREAZA]    Script Date: 11.05.2022 22:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTREAZA](
	[idAdministreaza] [int] IDENTITY(1,1) NOT NULL,
	[idServicii] [int] NOT NULL,
	[idModel] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdministreaza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANGAJAT]    Script Date: 11.05.2022 22:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANGAJAT](
	[idAngajat] [int] IDENTITY(1,1) NOT NULL,
	[nume] [varchar](50) NOT NULL,
	[prenume] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[telefon] [varchar](11) NOT NULL,
	[idSediu] [int] NOT NULL,
	[idServicii] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAngajat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 11.05.2022 22:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[idClient] [int] IDENTITY(1,1) NOT NULL,
	[nume] [varchar](30) NOT NULL,
	[prenume] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[telefon] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTRACT]    Script Date: 11.05.2022 22:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRACT](
	[idContract] [int] IDENTITY(1,1) NOT NULL,
	[idClient] [int] NOT NULL,
	[idServicii] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idContract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENIMENT]    Script Date: 11.05.2022 22:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENIMENT](
	[idEveniment] [int] IDENTITY(1,1) NOT NULL,
	[numeEveniment] [varchar](30) NOT NULL,
	[dataOraInceperii] [datetime] NOT NULL,
	[dataOraIncheierii] [datetime] NOT NULL,
	[idClient] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEveniment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GESTIONARE]    Script Date: 11.05.2022 22:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GESTIONARE](
	[idGestionare] [int] IDENTITY(1,1) NOT NULL,
	[idEveniment] [int] NOT NULL,
	[idLocatieEveniment] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idGestionare] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCATIE_EVENIMENT]    Script Date: 11.05.2022 22:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATIE_EVENIMENT](
	[idLocatieEveniment] [int] IDENTITY(1,1) NOT NULL,
	[numeLocatie] [varchar](30) NOT NULL,
	[judet] [varchar](25) NOT NULL,
	[localitate] [varchar](30) NOT NULL,
	[strada] [varchar](30) NOT NULL,
	[numar] [decimal](4, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLocatieEveniment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODEL]    Script Date: 11.05.2022 22:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODEL](
	[idModel] [int] IDENTITY(1,1) NOT NULL,
	[model] [varchar](30) NOT NULL,
	[culoare] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEDIU]    Script Date: 11.05.2022 22:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEDIU](
	[idSediu] [int] IDENTITY(1,1) NOT NULL,
	[judet] [varchar](50) NOT NULL,
	[localitate] [varchar](50) NOT NULL,
	[strada] [varchar](50) NULL,
	[numar] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSediu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICII]    Script Date: 11.05.2022 22:33:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICII](
	[idServicii] [int] IDENTITY(1,1) NOT NULL,
	[numeServiciu] [varchar](50) NOT NULL,
	[pretServiciu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idServicii] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numeServiciu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMINISTREAZA]  WITH CHECK ADD FOREIGN KEY([idModel])
REFERENCES [dbo].[MODEL] ([idModel])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ADMINISTREAZA]  WITH CHECK ADD FOREIGN KEY([idServicii])
REFERENCES [dbo].[SERVICII] ([idServicii])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ANGAJAT]  WITH CHECK ADD FOREIGN KEY([idSediu])
REFERENCES [dbo].[SEDIU] ([idSediu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ANGAJAT]  WITH CHECK ADD FOREIGN KEY([idServicii])
REFERENCES [dbo].[SERVICII] ([idServicii])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CONTRACT]  WITH CHECK ADD FOREIGN KEY([idClient])
REFERENCES [dbo].[CLIENT] ([idClient])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CONTRACT]  WITH CHECK ADD FOREIGN KEY([idServicii])
REFERENCES [dbo].[SERVICII] ([idServicii])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EVENIMENT]  WITH CHECK ADD FOREIGN KEY([idClient])
REFERENCES [dbo].[CLIENT] ([idClient])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GESTIONARE]  WITH CHECK ADD FOREIGN KEY([idEveniment])
REFERENCES [dbo].[EVENIMENT] ([idEveniment])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GESTIONARE]  WITH CHECK ADD FOREIGN KEY([idLocatieEveniment])
REFERENCES [dbo].[LOCATIE_EVENIMENT] ([idLocatieEveniment])
ON DELETE CASCADE
GO
USE [master]
GO
